@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-monday-snow: #ffffff;
  --color-monday-cloud: #f7f7f7;
  --color-monday-fog: #e5e4e7;
  --color-monday-iron: #6b6375;
  --color-monday-ink: #08060d;
  --color-monday-lavender: #e9e3ff;
  --color-monday-violet: #6161ff;
}

@layer base {
  html {
    font-family: var(--font-poppins);
  }

  body {
    margin: 0;
    @apply font-poppins text-monday-ink bg-monday-snow antialiased overflow-x-hidden;
  }

  * {
    box-sizing: border-box;
  }
}

#root {
  min-height: 100svh;
  width: 100%;
}
